@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  padding: 20px 80px;
  background: #ff5e5e;
}

.portal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 140px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: rgb(223, 223, 223) 3px 2px 0;
  position: relative;
}

#logo:after {
  background-image: -webkit-linear-gradient(
    left top,
    transparent 0%,
    transparent 25%,
    #555 25%,
    #555 50%,
    transparent 50%,
    transparent 75%,
    #555 75%
  );
  background-size: 4px 4px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -5;
  display: block;
  text-shadow: none;
}

#menu {
  width: 1090px;
  height: 42px;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 25px 10px;
  position: relative;
  text-align: center;
}

#menu li {
  display: inline-block;
  width: 173px;
  margin: 0 10px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}

#menu li a {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-weight: 800;
  display: block;
  background: rgb(255, 255, 255);
  padding: 2px 10px;
  color: #333;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

#menu li:hover {
  width: 203px;
  margin: 0 -5px;
}

#menu a:hover {
  color: rgb(255, 65, 65);
}

#menu li:after,
#menu li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: #bbb;
  -webkit-transform: skewY(8deg);
  x-index: -3;
  border-radius: 4px;
}

#menu li:after {
  background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
  right: 0;
  top: -4px;
}

#menu li:before {
  left: 0;
  bottom: -4px;
  background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
}
